<div class="dialog">
    <p>Слева находятся тогглы, управляющие потоками цветных шаров, которые выбрасывются со случайным номером от 1го до
        10ти. Есть кнопка сброса (очистки) которая сбрасывает состояние;</p>
    <p>Посередине распологается контейнер где отображаются выпавшие шары;</p>
    <p>Cправа находитя лог с тем, что произошло.</p>
    <p>Допусловия:</p>
    <p>1) если выпало три одноцветных шара, то выпадает черный;</p>
    <p>2) если выпало три разноцветных шара, то выпадает шар с цветом последнего и наибольшим числом из тех трёх;</p>
    <p>3) если выпал синий и его значение больше последнего выпадавшего красного, то выпадает фиолетовый;</p>
    <p>4) при включенном тоггле запускается таймер с автовыпадением, красных-раз в 3 секунды,
        синих-раз в секунду с 50% вероятности, зелёных по две штуки с вероятностью 25% раз в секунду.</p>
    <mat-divider></mat-divider>
    <div class="dialog-button">
        <button mat-flat-button color="accent" (click)="close()">Закрыть</button>
    </div>
</div>