@use '../../../assets/scss/palette.scss' as _;

:host {
    display: flex;
    height: 100%;
}

.user-info-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 2px solid _.$mint-dark;
}

.chat-container {
    display: flex;
    flex: 4;
    flex-direction: column;
}

.chat-window {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.messages-container-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    overflow: auto;
    justify-content: center;
}

.messages-container {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

sb-input {
    display: flex;
    justify-content: center;
}

sb-message.message-sender {
    align-self: flex-end;

    ::ng-deep {
        mat-card {
            background-color: _.$mint-light;
        }
    }
}

sb-message.message-reciever {
    align-self: flex-start;
}