@use '../../styles.scss' as _;
@use '@angular/material' as mat;

$mint-light: mat.get-theme-color(_.$theme, accent, 100);
$mint-middle: mat.get-theme-color(_.$theme, accent, 500);
$mint-dark: mat.get-theme-color(_.$theme, accent, 900);
$blue-light: mat.get-theme-color(_.$theme, primary, 100);
$blue-middle: mat.get-theme-color(_.$theme, primary, 500);
$blue-dark: mat.get-theme-color(_.$theme, primary, 900);