@use '../../../assets/scss/palette.scss' as _;

:host {
    :hover {
        cursor: pointer;
    }

    background-color: _.$mint-light;
}

:host.active {
    background-color: _.$mint-middle;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.content {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}