:host {
    display: flex;
    height: 100%;
}

.main-block {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: nowrap;
}

.user-info {
    border-bottom: 2px solid black;
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.chat-block {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.chat-window {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex: 1;
    position: relative;
    overflow: auto;
    justify-content: center;
}

.empty-chat {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-content: center;
}

.messages {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

sb-input {
    display: flex;
    justify-content: center;
}

.message-sender {
    align-self: flex-end;
}

.message-reciever {
    align-self: flex-start;
}

mat-divider {
    border: solid 2px green;
    color: green($color: #13bb38);
}