<div class="main-block">
    <div class="user-info">{{(currentUser$ | async )?.name}}</div>
    <div class="chat-list">
        @for (c of chatList$ | async ; track $index) {
        <sb-chat-preview [lastMessage]="c.lastMessage" [user]="c.user" [isActive]="c.isActive"
            (select)="service.selectChat(c.id)"></sb-chat-preview>
        } @empty {
        Отсутвуют чаты
        }
    </div>
</div>
<mat-divider vertical="true"></mat-divider>
<div class="chat-block">
    @if (isChatSelected$ | async) {
    <sb-chat-messages-container></sb-chat-messages-container>
    }
    @else {
    Не выбран диалог
    }
</div>