@use '../../../assets/scss/palette.scss' as _;

:host {
    display: flex;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: nowrap;
}

.mobile-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
}

.user-info {
    border-bottom: 2px solid _.$mint-dark;
}

.chat-list-container {
    display: flex;
    flex-direction: column;
}

.chat-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.empty-chat-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

mat-divider {
    border: solid 2px _.$mint-middle;
}