<div class="control-block">
    <button (click)="service.switchRed()">Запустить красные</button>
    <button (click)="service.switchBlue()">Запустить синие</button>
    <button (click)="service.switchGreen()">Запустить зеленые</button>
    <button (click)="service.reset()">Сбросить</button>
</div>
<div class="main-block">
    @for (s of sphereList$ | async; track $index) {
    <sb-sphere [color]="s.color" [number]="s.number"></sb-sphere>
    } @empty {
    Сферы отсутствуют...
    }
</div>
<div class="result-block">
    <p>Красные: {{redCount$ | async}}</p>
    <p>Синие: {{blueCount$ | async}}</p>
    <p>Зеленые: {{greenCount$ | async}}</p>
    <p>Фиолетовые: {{violetCount$ | async}}</p>
    <p>Белые: {{whiteCount$ | async}}</p>
</div>