:host {
    animation: 1s creation ease;
}

.sphere {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.desktop {
    height: 64px;
    width: 64px;
    margin: 8px;
}

.mobile {
    height: 32px;
    width: 32px;
    margin: 4px;
}

@keyframes creation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}